{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="header-bar">
        <h1>Профиль пользователя.</h1>
    </div>
    <div class="profile">
        <div class="profile_picture">
            {% if profile.profile_pic %}
                <img src="{{ profile.profile_pic.url }}">
            {% else %}
                <img src="/media/default.jpg" height=100 width=100>
            {% endif %}
            <p><strong>Имя:</strong> {{ user.first_name }}</p>
            <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
        </div>
        <div class="profile_data">
            <form method="POST" action='' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="user-info">
                    <label>Email: </label>
                    <p>{{ u_form.email }}</p>
                    <button class="user_update btn btn-outline-info" name="user_update">Сохранить</button>
                </div>
                <div class="user-update">
                    <input type="file" name="profile_pic" accept=".png,.jpg,.jpeg" id="id_profile_pic">
                    <button class="btn btn-outline-info" name="submit" type="submit">Обновить</button>
                </div>
                <div class="tg-connect">
                    <label for="">Ключ для привязки:</label>
                    <p>{{ profile.tg_key }}</p>
                    <button class="btn btn-outline-info" name="connect-tg">Сгенерировать</button>
                </div>
            </form>
        </div>

    </div>
{% endblock content %}