{% extends "main/layout.html" %}
{% block title %}
{{ cats_title }} - все заметки
{% endblock %}
{% block content %}

<form action="{% url 'create_note' %}" method="post" class="create_note">
    <h1>Создать заметку</h1>
    <div class="container input-note">
        {% csrf_token %}
        {{ form.title }}
        {{ form.description }}
        <div class="control-panel">
            <select name="input_note_category" id="input_note_category">
                {% for category in categorys %}
                <option value="{{ category.id }}">{{ category }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary mbtn"><i class="uil uil-notes"></i> Добавить заметку</button>
        </div>
    </div>
</form>
{% endblock %}