{% extends "main/layout.html" %}
{% block title %} Заметка {{ note.title }} {% endblock %}
{% block content %}
  <div class="container edit_note">
    <div class="note_head_title">
      <a href="{% url 'detail' cats_title.id %}"><button class="btn btn-primary btn-lg btn-block">Назад</button></a>
      <h3 class="note_title">{{ note.title }}</h3>
    </div>

    <form method="POST">
      {% csrf_token %}
      <textarea disabled id="note_description" name="note_description">{{ note.description }}</textarea>
      <div class="btn-note">
        <button id="edit_edit" class="btn btn-primary note-edit btn_addition mbtn" onclick="EditNote()">Редактировать</button>
        <button id="save_edit" name="save_edit" style="background: #6b6f7e;" disabled="disabled" class="btn btn-success note-save btn_addition mbtn">Сохранить</button>
        <button id="{{ note.id }}" name="delete_btn" title="{{ note.title }}" onclick="JavaScript:return DeleteNote(this.id);" class="btn btn-danger note-delete btn_addition mbtn">Удалить</button>
      </div>
    </form>
  </div>
<script>
  const note_description = document.getElementById('note_description');
  const saveBtn = document.getElementById('save_edit');
  const editBtn = document.getElementById('edit_edit');
  const deleteBtn = document.getElementsByName('delete_btn');

  function EditNote() {
      note_description.removeAttribute('disabled');
      if (note_description.hasAttribute('disabled') == false) {
        saveBtn.removeAttribute('disabled');
        saveBtn.removeAttribute('style');
        editBtn.disabled = true;
        editBtn.style = "background: #6b6f7e;";
        deleteBtn[0].textContent  = 'Отмена';
      }
  }
  function DeleteNote(id_){
      var ttt= document.getElementById(id_);
      if (deleteBtn[0].textContent  == 'Отмена') {
        deleteBtn[0].textContent  = 'Отмена';
      }
      else {
        if(confirm("Вы точно хотите удалить заметку "+ttt.title+" ?") ){
          document.location.href = 'delete/'+ ttt.id;
          }
        }
      }
</script>

{% endblock %}