{% extends 'main/layout.html' %}

{% block title %}Категории Notes{% endblock %}

{% block content %}
<script>
</script>
<div class="getCategories">
    <ul class="Categories">
        <div class="newCategories_head">
            <a href="{% url 'create_category' %}"><button id='newCategories' class="btn btn-success btn-lg btn-block">Создать категорию</button></a>
            <h3 class="Categories_title">Все категории</h3>
        </div>

        <div class="grid_Categories">
        {% for category in categories %}
            <li class="Categories">
                <a href="{% url 'detail' category.id %}"><b class="сategories_title">{{ category.title }}</b></a>
                <a href="{% url 'edit_category' category.id %}"><button class="btn btn-primary edit btn_addition">Редактировать</button></a>
                <button id="{{category.id}}" title="{{ category.title }}" onclick="JavaScript:return DeleteNote(this.id);" class="btn btn-danger delete btn_addition">Удалить</button>
            </li>
        {% endfor %}
        </div>
        <script>
            function DeleteNote(id_){
               var ttt= document.getElementById(id_);
               if(confirm("Вы точно хотите удалить заметку "+ttt.title+" ?") ){
                 alert(document.location.href = 'category/delete/'+ ttt.id);
               }
            }
        </script>
    </ul>
</div>

{% endblock %}